body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #555;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 50px;
}

h1 {
  text-align: center;
}

.card {
  width: 335px;
  height: 390px;
  background-color: #ccc;
  margin: 0 50px 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 150px;
}

.meta__row {
  margin: 8px 0;
}

.btn {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #393939;
  padding: 15px;
  color: #fff;
  user-select: none;
  margin: 20px auto;
  width: 230px;
  font-size: 18px;
}

.btn:hover {
  background: #eee;
  color: #393939;
}

.cart {
  position: relative;
}

.cart_list {
  position: absolute;
  top: 70px;
  right: -120px;
  display: none;
  background: #fff;
  width: 350px;
  color: #000;
}

.cart_list.shown {
  display: block;
}

.cart__good {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

form {
  padding: 50px 100px;
  background-color: #555;
}

.form__title {
  margin: 0 0 50px 0;
  color: #fff;
}

input {
  display: block;
  margin: 0 auto 30px;
  padding: 15px;
  width: 400px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 1px solid red;
}