* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: red;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.good-item {
  background: #eee;
  padding: 20px;
  margin: 10px;
}

.good-item img {
  width: 200px;
}

.meta__row {
  margin: 8px 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background:  rgb(52, 77, 191);
  padding: 4px 12px;
  color: #fff;
  user-select: none;
}

.btn:hover {
  background: rgb(69, 96, 214);
}

.cart {
  position: relative;
}

.cart_list {
  position: absolute;
  top: 32px;
  right: 0;
  display: none;
  background: #fff;
  min-width: 100px;
  color: #000;
}

.cart_list.shown {
  display: block;
}

.cart__good {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
}
